@import '~bootstrap/dist/css/bootstrap.css';
:root {
     --fuentePrimaria : 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;
     --fuenteSecundaria : 'Poppins', sans-serif;
     --primario: #ffffff;
     --secundario: #ff7900;
     --terciario: #333333;
     --backgroundCorporative: #f3f1f1; /* ff7900 FF5A00*/
     --backgroundCorporativeOpacity: #ffcc99; /* ff7900 FF5A00*/
     --backgroundFondoTitulo: #FF5A00; //var(--backgroundFondoTitulo)
     --backgroundFondoTituloBorde: #C74600; //var(--backgroundFondoTituloBorde)
     --backgroundSecundario: #cccccc; /* ff7900 FF5A00*/
     --backgroundAsides: lightgrey;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  border:0px;
}

body {
    background-color: var(--backgroundCorporative);
    font-family: var(--fuentePrimaria);
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

h1 {
  color: black;
  margin-bottom: 1em;
}
h1::before {
  content: "►";
  color: #660000;
}
h1::after {
  content: "◄";
  color: #660000;
}

@media only screen and (max-width: 480px) {

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.top-img {
  width: 100%;
  max-width: 1280px;
}


.example-wrapper {
  margin: 1em auto;
  padding: 1em;
  width: 100%;
  max-width: 1280px;
  font: 18px/1.5 sans-serif;
}

.example-wrapper code {
  background: #F5F5F5;
  padding: 2px 6px;
}

.breadcrumb {
  font-size: 12px;
}

.breadcrumb a {
  margin-left: 1em;
  margin-right: 1em;
}

.response {
  display:  inline;
}

.contenedor_grid_4 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: auto;
 }

.contenedor_grid_4 div {
  border-bottom: 1px solid #ccc;
  padding: 4px;
}

.contenedor_grid_3 {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
 }
 .contenedor_grid_3 div {
   border-bottom: 1px solid #ccc;
   padding: 4px;
 }

.titles {
  background-color: var(--terciario) !important;
  color: #ffffff;
}

.mobileshow01 {
  display: none;
}

@media only screen and (max-width: 480px) {

 .contenedor_grid_4, .contenedor_grid_3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .mobileshow01 {
    display: inline;
    margin-right: 0.5em;
  }

}

.aparto {
  background-color: #eee;
  margin-top: 20em;
  border-top: 1px solid #ccc;
  padding-top: 1em;
}

.aparto2 {
  background-color: #dbfbf5;
  margin-top: 3em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1em;
}

.help {
  font-size: 80%;
  margin-left: 0.5em;
}

/* VARIAS */

#ulcss {
  list-style: none;
}
