{% for data4 in temas %}
  <li><a href="{{ path('tema', { centro: data4.slug_centro, curso: data4.slug_curso, asignatura: data4.slug_asignatura, tema: data4.slug_tema}) }}">{{ data4.tema }}</a></li>
{% endfor %}
